In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../synthetic_fraud_dataset.csv')
df.head()

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Timestamp,Account_Balance,Device_Type,Location,Merchant_Category,IP_Address_Flag,...,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Type,Card_Age,Transaction_Distance,Authentication_Method,Risk_Score,Is_Weekend,Fraud_Label
0,TXN_33553,USER_1834,39.79,POS,2023-08-14 19:30:00,93213.17,Laptop,Sydney,Travel,0,...,7,437.63,3,Amex,65,883.17,Biometric,0.8494,0,0
1,TXN_9427,USER_7875,1.19,Bank Transfer,2023-06-07 04:01:00,75725.25,Mobile,New York,Clothing,0,...,13,478.76,4,Mastercard,186,2203.36,Password,0.0959,0,1
2,TXN_199,USER_2734,28.96,Online,2023-06-20 15:25:00,1588.96,Tablet,Mumbai,Restaurants,0,...,14,50.01,4,Visa,226,1909.29,Biometric,0.8400,0,1
3,TXN_12447,USER_2617,254.32,ATM Withdrawal,2023-12-07 00:31:00,76807.20,Tablet,New York,Clothing,0,...,8,182.48,4,Visa,76,1311.86,OTP,0.7935,0,1
4,TXN_39489,USER_2014,31.28,POS,2023-11-11 23:44:00,92354.66,Mobile,Mumbai,Electronics,0,...,14,328.69,4,Mastercard,140,966.98,Password,0.3819,1,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Transaction_ID                50000 non-null  object
 1   User_ID                       50000 non-null  object
 2   Transaction_Amount            50000 non-null  float64
 3   Transaction_Type              50000 non-null  object
 4   Timestamp                     50000 non-null  object
 5   Account_Balance               50000 non-null  float64
 6   Device_Type                   50000 non-null  object
 7   Location                      50000 non-null  object
 8   Merchant_Category             50000 non-null  object
 9   IP_Address_Flag               50000 non-null  int64
 10  Previous_Fraudulent_Activity  50000 non-null  int64
 11  Daily_Transaction_Count       50000 non-null  int64
 12  Avg_Transaction_Amount_7d     50000 non-null  float64
 13  Failed_Transaction_Count_7d   50000 non-null  int64
 14  Card_Type                     50000 non-null  object
 15  Card_Age                      50000 non-null  int64
 16  Transaction_Distance          50000 non-null  float64
 17  Authentication_Method         50000 non-null  object
 18  Risk_Score                    50000 non-null  float64
 19  Is_Weekend                    50000 non-null  int64
 20  Fraud_Label                   50000 non-null  int64
dtypes: float64(5), int64(7), object(9)
memory usage: 8.0+ MB

In [4]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [5]:
df.describe(include='all')

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Timestamp,Account_Balance,Device_Type,Location,Merchant_Category,IP_Address_Flag,...,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Type,Card_Age,Transaction_Distance,Authentication_Method,Risk_Score,Is_Weekend,Fraud_Label
count,50000,50000,50000.000000,50000,50000,50000.000000,50000,50000,50000,50000.00000,...,50000.000000,50000.000000,50000.000000,50000,50000.000000,50000.000000,50000,50000.000000,50000.000000,50000.000000
unique,50000,8963,NaN,4,NaN,NaN,3,5,5,NaN,...,NaN,NaN,NaN,4,NaN,NaN,4,NaN,NaN,NaN
top,TXN_33553,USER_6599,NaN,POS,NaN,NaN,Tablet,Tokyo,Clothing,NaN,...,NaN,NaN,NaN,Mastercard,NaN,NaN,Biometric,NaN,NaN,NaN
freq,1,16,NaN,12549,NaN,NaN,16779,10208,10033,NaN,...,NaN,NaN,NaN,12693,NaN,NaN,12591,NaN,NaN,NaN
mean,NaN,NaN,99.411012,NaN,2023-07-02 12:47:11.063999744,50294.065981,NaN,NaN,NaN,0.05020,...,7.485240,255.271924,2.003540,NaN,119.999940,2499.164155,NaN,0.501556,0.299640,0.321340
min,NaN,NaN,0.000000,NaN,2023-01-01 00:01:00,500.480000,NaN,NaN,NaN,0.00000,...,1.000000,10.000000,0.000000,NaN,1.000000,0.250000,NaN,0.000100,0.000000,0.000000
25%,NaN,NaN,28.677500,NaN,2023-04-02 03:35:30,25355.995000,NaN,NaN,NaN,0.00000,...,4.000000,132.087500,1.000000,NaN,60.000000,1256.497500,NaN,0.254000,0.000000,0.000000
50%,NaN,NaN,69.660000,NaN,2023-07-02 14:00:00,50384.430000,NaN,NaN,NaN,0.00000,...,7.000000,256.085000,2.000000,NaN,120.000000,2490.785000,NaN,0.502250,0.000000,0.000000
75%,NaN,NaN,138.852500,NaN,2023-10-01 07:13:00,75115.135000,NaN,NaN,NaN,0.00000,...,11.000000,378.032500,3.000000,NaN,180.000000,3746.395000,NaN,0.749525,1.000000,1.000000
max,NaN,NaN,1174.140000,NaN,2023-12-31 23:50:00,99998.310000,NaN,NaN,NaN,1.00000,...,14.000000,500.000000,4.000000,NaN,239.000000,4999.930000,NaN,1.000000,1.000000,1.000000
std,NaN,NaN,98.687292,NaN,NaN,28760.458557,NaN,NaN,NaN,0.21836,...,4.039637,141.382279,1.414273,NaN,68.985817,1442.013834,NaN,0.287774,0.458105,0.466996

In [6]:
print(df['Transaction_Type'].value_counts())

Transaction_Type
POS               12549
Online            12546
ATM Withdrawal    12453
Bank Transfer     12452
Name: count, dtype: int64

In [7]:
print(df['Device_Type'].value_counts())

Device_Type
Tablet    16779
Mobile    16640
Laptop    16581
Name: count, dtype: int64

In [8]:
print(df['Location'].value_counts())

Location
Tokyo       10208
Mumbai       9994
London       9945
Sydney       9938
New York     9915
Name: count, dtype: int64

In [9]:
print(df.corr(numeric_only=True)) # Correlation Matrix

                              Transaction_Amount  Account_Balance  \
Transaction_Amount                      1.000000        -0.002380
Account_Balance                        -0.002380         1.000000
IP_Address_Flag                        -0.001620        -0.001210
Previous_Fraudulent_Activity            0.001668        -0.002314
Daily_Transaction_Count                 0.002149         0.006041
Avg_Transaction_Amount_7d              -0.006255        -0.001738
Failed_Transaction_Count_7d             0.001247        -0.000186
Card_Age                                0.002294         0.000717
Transaction_Distance                    0.007935         0.001748
Risk_Score                              0.005606        -0.005262
Is_Weekend                              0.001348         0.000557
Fraud_Label                             0.001901        -0.003153

                              IP_Address_Flag  Previous_Fraudulent_Activity  \
Transaction_Amount                  -0.001620                      0.001668
Account_Balance                     -0.001210                     -0.002314
IP_Address_Flag                      1.000000                     -0.008298
Previous_Fraudulent_Activity        -0.008298                      1.000000
Daily_Transaction_Count              0.001815                      0.000492
Avg_Transaction_Amount_7d           -0.004845                      0.001600
Failed_Transaction_Count_7d          0.010370                     -0.000352
Card_Age                            -0.003143                     -0.006713
Transaction_Distance                -0.003941                      0.005740
Risk_Score                          -0.004064                     -0.002815
Is_Weekend                           0.004979                     -0.000473
Fraud_Label                          0.003028                     -0.000718

                              Daily_Transaction_Count  \
Transaction_Amount                           0.002149
Account_Balance                              0.006041
IP_Address_Flag                              0.001815
Previous_Fraudulent_Activity                 0.000492
Daily_Transaction_Count                      1.000000
Avg_Transaction_Amount_7d                    0.004882
Failed_Transaction_Count_7d                 -0.007820
Card_Age                                    -0.001516
Transaction_Distance                        -0.001842
Risk_Score                                  -0.007572
Is_Weekend                                  -0.006148
Fraud_Label                                 -0.007065

                              Avg_Transaction_Amount_7d  \
Transaction_Amount                            -0.006255
Account_Balance                               -0.001738
IP_Address_Flag                               -0.004845
Previous_Fraudulent_Activity                   0.001600
Daily_Transaction_Count                        0.004882
Avg_Transaction_Amount_7d                      1.000000
Failed_Transaction_Count_7d                    0.006583
Card_Age                                      -0.008735
Transaction_Distance                          -0.003066
Risk_Score                                     0.004977
Is_Weekend                                     0.007762
Fraud_Label                                    0.000703

                              Failed_Transaction_Count_7d  Card_Age  \
Transaction_Amount                               0.001247  0.002294
Account_Balance                                 -0.000186  0.000717
IP_Address_Flag                                  0.010370 -0.003143
Previous_Fraudulent_Activity                    -0.000352 -0.006713
Daily_Transaction_Count                         -0.007820 -0.001516
Avg_Transaction_Amount_7d                        0.006583 -0.008735
Failed_Transaction_Count_7d                      1.000000 -0.004570
Card_Age                                        -0.004570  1.000000
Transaction_Distance                            -0.006997 -0.003339
Risk_Score                                       0.000814 -0.001385
Is_Weekend                                      -0.003335  0.003406
Fraud_Label                                      0.509871 -0.003120

                              Transaction_Distance  Risk_Score  Is_Weekend  \
Transaction_Amount                        0.007935    0.005606    0.001348
Account_Balance                           0.001748   -0.005262    0.000557
IP_Address_Flag                          -0.003941   -0.004064    0.004979
Previous_Fraudulent_Activity              0.005740   -0.002815   -0.000473
Daily_Transaction_Count                  -0.001842   -0.007572   -0.006148
Avg_Transaction_Amount_7d                -0.003066    0.004977    0.007762
Failed_Transaction_Count_7d              -0.006997    0.000814   -0.003335
Card_Age                                 -0.003339   -0.001385    0.003406
Transaction_Distance                      1.000000   -0.001902   -0.010592
Risk_Score                               -0.001902    1.000000   -0.005236
Is_Weekend                               -0.010592   -0.005236    1.000000
Fraud_Label                              -0.000116    0.385810    0.000064

                              Fraud_Label
Transaction_Amount               0.001901
Account_Balance                 -0.003153
IP_Address_Flag                  0.003028
Previous_Fraudulent_Activity    -0.000718
Daily_Transaction_Count         -0.007065
Avg_Transaction_Amount_7d        0.000703
Failed_Transaction_Count_7d      0.509871
Card_Age                        -0.003120
Transaction_Distance            -0.000116
Risk_Score                       0.385810
Is_Weekend                       0.000064
Fraud_Label                      1.000000